@charset "UTF-8";
* {
  font-family: "Source Code Pro", monospace;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.28);
}

body {
  background: rgba(21, 21, 21, 0.95);
}

.wrapper {
  padding-left: 6.25rem;
  padding-right: 6.25rem;
}

section {
  margin-bottom: 10rem;
}

.section-title {
  font-style: normal;
  font-weight: 700;
  font-size: 4.5rem;
  line-height: 5rem;
  color: #fff;
  margin-bottom: 10rem;
}

.navbar a {
  font-style: normal;
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.44rem;
  color: #fff;
  cursor: pointer;
}
.navbar a:hover, .navbar a:visited {
  color: #fff;
}
.navbar .custom-toggler.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  font-size: 2rem;
}
.navbar .navbar-nav li {
  margin-left: 1.5rem;
}
.navbar .top-menu li a::after {
  content: "";
  display: block;
  width: 100%;
  background-color: #fff;
  height: 1px;
  transition: all 0.3s;
  transform: scale(0);
}
.navbar .top-menu li a:hover::after {
  transform: scale(1);
}

header h1 {
  color: #fff;
  font-weight: 900;
  font-size: 6.25rem;
  margin-top: 15.625rem;
}
header .header-text {
  display: flex;
  font-weight: 400;
  font-size: 7.75rem;
  line-height: 89%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #fff;
  justify-content: end;
  margin: 8.125rem 0 10rem auto;
}
header .main-img {
  position: absolute;
  width: 54rem;
  height: auto;
  left: -0.05px;
  top: 20rem;
  z-index: -1;
}

.about-young .about-young-title {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.875rem;
  color: #fff;
  margin-bottom: 1.875rem;
}
.about-young .about-young-desc {
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.5rem;
  color: #fff;
}
.about-young .about-young-item {
  width: 22rem;
  margin: 0 auto 4rem auto;
}
.about-young .empty {
  width: 22rem;
  margin: 0 auto 4rem auto;
}

.experience {
  position: relative;
  margin-bottom: 6.125rem;
}
.experience .experience-flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.experience .experience-title {
  font-weight: 900;
  font-size: 2.25rem;
  line-height: 125%;
  color: #fff;
  margin-bottom: 1.875rem;
}
.experience .experience-info-desc {
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 125%;
  color: #fff;
  text-align: center;
}
.experience .experience-addition-info {
  font-style: italic;
  font-weight: 500;
  font-size: 0.85rem;
  line-height: 125%;
  color: #fff;
}
.experience .experience-item {
  padding: 0;
  width: 18rem;
  margin: 0 auto 4rem auto;
}
.experience .img-1 {
  position: absolute;
  width: 863px;
  height: 863px;
  right: 0;
  top: -20rem;
  z-index: -1;
}

.course-benefits .course-benefits-title {
  font-weight: 400;
  font-size: 7.75rem;
  line-height: 89%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 2rem;
}
.course-benefits .img-block {
  position: relative;
}
.course-benefits .cube-image-1 {
  position: absolute;
  width: 29rem;
  height: 29rem;
  right: 15rem;
  top: -21.875rem;
  z-index: -1;
}
.course-benefits .cube-image-2 {
  position: absolute;
  width: 27.25rem;
  height: 27.25rem;
  right: 10rem;
  bottom: -21.875rem;
  z-index: -1;
}
.course-benefits .course-benefits-desc {
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.5rem;
  color: #fff;
  max-width: 30rem;
  margin-left: 0.8rem;
  margin-bottom: 15rem;
}
.course-benefits .custom-collapse-btn {
  background-color: #f8d849;
  color: rgba(21, 21, 21, 0.95);
  padding: 10px 70px;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.875rem;
  text-align: center;
  text-shadow: none;
  border-radius: 20px;
}
.course-benefits .card-body {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  color: #fff;
  padding: 0;
  max-width: 40rem;
}
.course-benefits .card-body .external-list {
  padding-left: 2rem;
}
.course-benefits .card-body .external-list .external-list-item {
  margin-bottom: 1.2rem;
  margin-top: 2rem;
}
.course-benefits .card-body .internal-list {
  list-style: "— ";
  padding: 0;
}
.course-benefits .card-body .internal-list .internal-list-item {
  margin-bottom: 0.65rem;
}
.course-benefits .card-body .internal-list .internal-list-item:last-child {
  margin-bottom: 0;
}
.course-benefits .block-container {
  position: relative;
}
.course-benefits .block-container .block {
  position: relative;
  padding: 0;
  margin-bottom: 1.5rem;
}
.course-benefits .block-container .block-name {
  font-style: normal;
  font-weight: 500;
  font-size: 4rem;
  color: #fff;
  margin-bottom: 1rem;
}
.course-benefits .block-container .block-title {
  max-width: 40rem;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #fff;
  margin-bottom: 2rem;
}
.course-benefits .block-container .img-4 {
  position: absolute;
  top: -3rem;
  left: -3rem;
  z-index: -1;
}
.course-benefits .block-container .img-5 {
  padding: 0;
  position: absolute;
  width: 46rem;
  height: 46rem;
  top: 25rem;
  right: -30rem;
  z-index: -1;
}
/*# sourceMappingURL=style.css.map */
