$background_color: #151515;
$text_light: #fff;
$btn: #f8d849;
$color_1: #ba70d0;
$color_2: #6155f2;
$color_3: #8bd0d0;

* {
  font-family: "Source Code Pro", monospace;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.28);
}

body {
  background: $background_color;
}

.wrapper {
  max-width: 1600px;
  padding-left: 6.25rem;
  padding-right: 6.25rem;
  overflow: hidden;
}

section {
  margin-bottom: 10rem;
}

.section-title {
  font-style: normal;
  font-weight: 700;
  font-size: 4.5rem;
  line-height: 5rem;
  color: $text_light;
  margin-bottom: 10rem;
}

// Header

header {
  .navbar {
    a {
      font-style: normal;
      font-weight: 700;
      font-size: 1.125rem;
      line-height: 1.44rem;
      color: $text_light;
      cursor: pointer;

      &:hover,
      &:visited {
        color: $text_light;
      }
    }

    .custom-toggler {
      &.navbar-toggler-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
        font-size: 2rem;
      }
    }

    .navbar-nav {
      margin-top: 2rem;
      li {
        margin-left: 1.5rem;
        margin-bottom: 2rem;
        text-align: center;
      }
    }

    .top-menu li a::after {
      content: "";
      display: block;
      width: 100%;
      background-color: $text_light;
      height: 1px;
      transition: all 0.3s;
      transform: scale(0);
    }

    .top-menu li a:hover::after {
      transform: scale(1);
    }
  }

  h1 {
    color: $text_light;
    font-weight: 900;
    font-size: 6.25rem;
    margin-top: 15.625rem;
  }

  .header-text {
    display: flex;
    font-weight: 500;
    font-size: 7.75rem;
    line-height: 89%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $text_light;
    justify-content: flex-end;
    margin: 8.125rem 0 10rem auto;
  }

  .main-img {
    position: absolute;
    width: 54rem;
    height: auto;
    left: -0.05px;
    top: 20rem;
    z-index: -1;
  }
}

// About-young section

.about-young {
  .about-young-title {
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 1.875rem;
    color: $text_light;
    margin-bottom: 1.875rem;
  }

  .about-young-desc {
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.5rem;
    color: $text_light;
  }

  .about-young-item {
    width: 22rem;
    margin: 0 auto 4rem auto;
  }

  .empty {
    width: 22rem;
    margin: 0 auto 4rem auto;
  }
}

// Experience section

.experience {
  position: relative;
  margin-bottom: 6.125rem;

  .experience-flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .experience-title {
    font-weight: 900;
    font-size: 2.25rem;
    line-height: 125%;
    color: $text_light;
    margin-bottom: 1.875rem;
  }

  .experience-info-desc {
    font-weight: 700;
    font-size: 1.125rem;
    line-height: 125%;
    color: $text_light;
    text-align: center;
  }

  .experience-addition-info {
    font-style: italic;
    font-weight: 500;
    font-size: 0.85rem;
    line-height: 125%;
    color: $text_light;
  }

  .experience-item {
    padding: 0;
    width: 17rem;
    margin: 0 auto 4rem auto;
  }

  .img-1 {
    position: absolute;
    width: 863px;
    height: 863px;
    right: 0;
    top: -20rem;
    z-index: -1;
  }
}

// Course benefits section

.course-benefits {
  position: relative;

  .course-benefits-title {
    font-weight: 400;
    font-size: 7.75rem;
    line-height: 89%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $text_light;
    margin-bottom: 2rem;
  }

  .img-block {
    position: relative;
  }

  .cube-image-1 {
    position: absolute;
    width: 29rem;
    height: 29rem;
    right: 15rem;
    top: -21.875rem;
    z-index: -1;
  }

  .cube-image-2 {
    position: absolute;
    width: 27.25rem;
    height: 27.25rem;
    right: 10rem;
    bottom: -21.875rem;
    z-index: -1;
  }

  .course-benefits-desc {
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.5rem;
    color: $text_light;
    max-width: 30rem;
    margin-left: 0.8rem;
    margin-bottom: 15rem;
  }

  .custom-collapse-btn {
    background-color: $btn;
    color: $background_color;
    padding: 10px 70px;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 1.875rem;
    text-align: center;
    text-shadow: none;
    border: none;
    border-radius: 20px;
  }

  .card-body {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    color: $text_light;
    padding: 0;
    max-width: 40rem;

    .external-list {
      padding-left: 2rem;

      .external-list-item {
        margin-bottom: 1.2rem;
        margin-top: 2rem;
      }
    }

    .internal-list {
      list-style: "— ";
      padding: 0;

      .internal-list-item {
        margin-bottom: 0.65rem;
      }

      & .internal-list-item:last-child {
        margin-bottom: 0;
      }
    }
  }
  .block-container {
    .block {
      padding: 0;
      margin-bottom: 1.5rem;
    }

    .block-name {
      font-style: normal;
      font-weight: 500;
      font-size: 4rem;
      color: $text_light;
      margin-bottom: 1rem;
    }

    .block-title {
      max-width: 40rem;
      font-weight: 700;
      font-size: 24px;
      line-height: 30px;
      color: $text_light;
      margin-bottom: 2rem;
    }

    .img-4 {
      position: absolute;
      top: -3rem;
      left: -3rem;
      z-index: -1;
    }
  }
  .img-5 {
    padding: 0;
    position: absolute;
    width: 46rem;
    height: 46rem;
    top: 63rem;
    right: -6.25rem;
    z-index: -1;
  }
}

// Speakers section

.speakers {
  position: relative;

  .color-1 {
    background-color: $color_1;
  }
  .color-2 {
    background-color: $color_2;
  }
  .color-3 {
    background-color: $color_3;
  }

  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 3rem;
    // max-width: 66rem;

    .grid-item {
      // display: inline;
      width: 219px;
      height: 375px;
      margin: 0 auto;
      transform: translateX(-25%);
    }

    .grid-item--translate {
      transform: translateX(25%);
    }
  }

  .img-6 {
    position: absolute;
    right: 0;
    top: -15rem;
    z-index: -1;
  }
  .img-7 {
    position: absolute;
    right: 0;
    top: -23rem;
    z-index: -1;
  }
  .img-8 {
    position: absolute;
    right: 0;
    top: -5rem;
    z-index: -1;
  }

  .custom-card {
    width: 219px;
    height: 375px;
    overflow: hidden;
    border: none;
    position: relative;
    z-index: auto;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.28);

    &:hover {
      .front-side {
        opacity: 0;
      }
      .back-side {
        opacity: 1;
      }
    }

    .front-side {
      opacity: 1;
      z-index: auto;
      transition: opacity 0.5s;
      margin: auto 2rem;

      .speaker {
        width: 219px;
        height: 375px;
        position: absolute;
        top: 0;
        left: 0;
      }
    }

    .back-side {
      height: 340px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: end;
      opacity: 0;
      transition: opacity 0.5s;

      .card-content {
        padding: 0.75rem;
      }

      .btn {
        z-index: 1;
      }

      .name {
        padding-top: 2rem;
        font-weight: 900;
        font-size: 1.4rem;
        line-height: 125%;
        text-indent: 2px;
        color: $text_light;
        text-shadow: none;
      }

      .position {
        font-style: normal;
        font-weight: 900;
        font-size: 1rem;
        line-height: 125%;
        text-indent: 2px;
        color: $text_light;
        margin-bottom: 1rem;
        text-shadow: none;
      }

      .card-text {
        font-style: normal;
        font-weight: 400;
        font-size: 1rem;
        line-height: 125%;
        text-indent: 2px;
        color: $text_light;
        text-shadow: none;
      }

      .btn-container {
        display: flex;
        justify-content: center;
        gap: 1rem;

        .btn {
          border-radius: 20px;
          font-style: italic;
          font-weight: 500;
          font-size: 0.8rem;
          line-height: 96.49%;
          letter-spacing: 0.08em;
          color: #000000;
          padding: 8px;
        }
      }
    }
  }
}

// Registration section

.registration {
  position: relative;

  .registration-contrast {
    background-color: rgba(15, 15, 15, 0.65);
    box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    padding: 2rem;
    margin-bottom: 15rem;
    max-width: 30rem;
    overflow: hidden;
  }

  .registration-title {
    margin-bottom: 2.25rem;
  }
  .registration-date {
    font-style: normal;
    font-weight: 900;
    font-size: 3rem;
    line-height: 125%;
    text-indent: 2px;
    color: $text_light;
    margin-bottom: 6.5rem;
  }

  form {
    position: relative;
    label {
      font-style: normal;
      font-weight: 900;
      font-size: 1.5rem;
      line-height: 125%;
      text-indent: 2px;
      color: $text_light;
      margin-bottom: 0.75rem;
    }

    .submit-btn-custom {
      background-color: $btn;
      border: none;
      text-shadow: none;
      padding: 1.5rem;
      font-style: normal;
      font-weight: 900;
      font-size: 1.5rem;
      line-height: 125%;
      text-indent: 2px;
      color: $background_color;
      border-radius: 20px;
      box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.5);
    }

    input._error {
      border: 2px solid red;
    }

    input::placeholder {
      color: #c6c6c6;
      text-shadow: none;
    }

    &::after {
      content: "";
      border-radius: 20px;
      position: absolute;
      top: 0;
      left: 0;
      width: 200%;
      height: 200%;
      background: rgba(255, 255, 255, 0.9) url(../img/spinner.svg) center / 15%
        no-repeat;
      opacity: 0;
      visibility: hidden;
      transition: all 0.5s;
      transform: translate(-25%, -25%);
    }

    &._sending::after {
      opacity: 1;
      visibility: visible;
    }
  }

  .img-9 {
    position: absolute;
    top: 15rem;
    left: -6.25rem;
    z-index: -1;
  }

  .img-10 {
    position: absolute;
    top: 42rem;
    left: 0;
    z-index: -2;
  }

  .img-11 {
    position: absolute;
    top: -5rem;
    right: -6.25rem;
    left: auto;
    z-index: -2;
  }
}

// Footer

footer {
  .footer-section-text {
    font-style: normal;
    font-weight: 400;
    font-size: 0.8rem;
    line-height: 1rem;
    color: $text_light;
    margin-bottom: 1rem;
    text-decoration: none;
    transition: all 0.3s;
  }

  .tel {
    display: inline-block;
    margin-bottom: 1rem;
  }

  .location,
  .tel {
    display: block;
    margin-bottom: 1rem;
  }

  .nav-item a:hover,
  .nav-item li a:active {
    color: $btn;
  }
}
