$background_color: #151515;
$text_light: #fff;

* {
  font-family: "Source Code Pro", monospace;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: $background_color;
}

.wrapper {
  padding-left: 6.25rem;
  padding-right: 6.25rem;
}

// Header

.navbar {
  background-color: $background_color;

  a {
    font-style: normal;
    font-weight: 700;
    font-size: 1.125rem;
    line-height: 1.44rem;
    color: $text_light;
    cursor: pointer;

    &:hover,
    &:visited {
      color: $text_light;
    }
  }
}

.navbar-nav {
  li {
    margin-left: 1.5rem;
  }
}

.top-menu li a::after {
  content: "";
  display: block;
  width: 100%;
  background-color: $text_light;
  height: 1px;
  transition: all 0.3s;
  transform: scale(0);
}

.top-menu li a:hover::after {
  transform: scale(1);
}

.navbar-toggler {
  .navbar-toggler-icon {
    stroke: $text_light !important;
  }
}

h1 {
  color: $text_light;
  font-weight: 900;
  font-size: 6.25rem;
  margin-top: 15.625rem;
}

.header-text {
  display: flex;
  font-weight: 400;
  font-size: 7.75rem;
  line-height: 89%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  justify-content: end;
  margin: 8.125rem 10.5rem 10rem auto;
}

.main-img {
  position: absolute;
  width: 54rem;
  height: auto;
  left: -0.05px;
  top: 20rem;
  z-index: -1;
}
